<h3>Users</h3>
<ul class="users">
  <%= form_for approve_users_path, :method => :put do %>
  	<% @users.each do |user| %>
	  <li>
	    <%= link_to user.name, user %> signed up <%= user.created_at.to_date %>
	    <% if user.approved == false %>
		  <%= check_box_tag "user_ids[]", user.id %>
		<% else %>
		  - the user approved
		<% end %>
	  </li>
	<% end %>
	<%= submit_tag 'mark as approved' %>
  <% end %>
</ul>